@font-face {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: normal;
    src: local('Geometria'), url('Geometria.woff') format('woff');
}


@font-face {
    font-family: 'Geometria';
    font-style: medium;
    font-weight: medium;
    src: local('Geometria-Medium'), url('Geometria-Medium.woff') format('woff');
}
